<h1>New Task</h1>

<% if current_user.needs_engagement? %>
<%= link_to 'You Must Register!', new_user_registration_path %>
  <% else %>
  <% binding.pry %>
  <% render 'form' %>
<% end %>

<%= render 'form', task: @task %>

<%= link_to 'Back', tasks_path %>
